<h3><%= @flat.name %></h3>

<p><%= @flat.description %></p>
<p><%= @flat.address %></p>
<p><%= @flat.price_per_night %></p>
<p><%= @flat.number_of_guests %></p>

<p><%= link_to "Edit flat", edit_flat_path %>
<p><%= link_to "Remove flat", flat_path(@flat), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>

<%= link_to "Back to flats list", flats_path %>
